.showLater {
  display: none;
}

#scoreBoard {
  border: solid black;
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("../img/pig.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 80px;
  background-color: 
}